<?xml version="1.0" encoding="utf-8"?>
<!--
Bu dosya, Web projenizin yayımlama/paket işlemi tarafından kullanılıyor. MSBuild dosyasını düzenleyerek
bu işlemin davranışını düzenleyebilirsiniz. Bununla ilgili daha fazla bilgi edinmek için https://go.microsoft.com/fwlink/?LinkID=208121 adresini ziyaret edin. 
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ResourceId>/subscriptions/9ef535b4-4b22-438f-a4f4-0b7d93a218ac/resourcegroups/tertulia-talks-resource-group/providers/Microsoft.Web/sites/TertuliatalkAPI01</ResourceId>
        <ResourceGroup>tertulia-talks-resource-group</ResourceGroup>
        <ApiResourceId>/subscriptions/9ef535b4-4b22-438f-a4f4-0b7d93a218ac/resourceGroups/tertulia-talks-resource-group/providers/Microsoft.ApiManagement/service/TertuliatalkAPIapi01/apis/TertuliatalkAPI01</ApiResourceId>
        <OpenApiDocumentName>v1</OpenApiDocumentName>
        <UpdateApiOnPublish>true</UpdateApiOnPublish>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://tertuliatalkapi01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>a9a0be93-c87c-474d-8dc3-07d1c278658b</ProjectGuid>
        <MSDeployServiceURL>tertuliatalkapi01.scm.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>TertuliatalkAPI01</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName>$TertuliatalkAPI01</UserName>
        <_SavePWD>true</_SavePWD>
        <_DestinationType>AzureWebSite</_DestinationType>
        <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    </PropertyGroup>
</Project>